*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
    font-family: sans-serif;
} 
body{
    background-color: #3a4452;
}
.box{ 
    position: relative;
    background: rgba(0,0,0,0.5);
    overflow: hidden;
    border-radius: 20px;
}
.box::before{
    content: '';
    position: absolute;
    width: 550px;
    height: 200%;
    background: linear-gradient(#00ccff,#d400d4);
    animation: animate 4s linear infinite;

}
.box::after{
    content: '';
    position: absolute;
    inset: 4px;
    background: #0e1538;
    border-radius: 16px;
}
@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
    
}

.container{

    max-width: 340px;
    height: 900px;
    border: 2px solid black; 
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding: 15px 25px;
    margin: 2px auto;
}
h6{
    color: #fff;
    z-index: 10;
}
.btn{
    z-index: 10;
    /* background-color: rgb(47, 56, 61);  */
    font-size: 30px;
    font-weight: bold;
    color:lightgray;
    /* border-radius: 50%;  */
    text-align: center;
    padding-top: 14px;
    /* box-shadow: 2px 2px 5px 2px #c3f0ff; */
}
.btn:active{
    color: #fff;
    /* box-shadow: 0px 0px 3px 1px #fff; */
    text-shadow: 1px 1px 30px #fff;
}

.screen{
    position: relative;
    z-index: 10;
    grid-column: 1 / -1;
    padding-top: 15px;
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    background-color: #0e1538;
    text-align: right;
    padding-right: 25px;
    overflow: auto;
}
.clear,.rmv{
    color: orangered;
}
.equal{
    grid-row: span 2;
    margin: 10px;
    padding-top: 45px;
    background: #00ccff;
    border-radius: 8px;
    color: #fff;
}
.op_color{
    color: #33ffd8;
}  
